version: '3.8'

services:
  # Service API (json-server)
  api:
    build:
      context: .
      dockerfile: Dockerfile.api
    container_name: ecommerce-api
    ports:
      - "3000:3000"
    volumes:
      - ./db.json:/app/db.json
    networks:
      - ecommerce-network
    restart: unless-stopped

  # Service Frontend (Angular + Nginx)
  frontend:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: ecommerce-frontend
    ports:
      - "80:80"
    depends_on:
      - api
    networks:
      - ecommerce-network
    restart: unless-stopped

networks:
  ecommerce-network:
    driver: bridge
